.experience-header {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

@media (max-width: 680px) {
    .experience-header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}